kvaek.com {
	encode gzip

	handle /api/* {
		reverse_proxy backend:8000
	}
	handle /_allauth/* {
		reverse_proxy backend:8000
	}
	handle /accounts/* {
		reverse_proxy backend:8000
	}
	handle /admin/* {
		reverse_proxy backend:8000
	}
	handle /staff/* {
		reverse_proxy backend:8000
	}
	handle_path /static/* {
		root * /staticfiles
		file_server
	}
	handle_path /media/* {
		root * /media
		file_server
	}
	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}

www.kvaek.com {
	redir https://kvaek.com{uri} permanent
}
